<!DOCTYPE html>
<html lang="cs">
	<head>
		<meta charset="utf-8">
		<title>Title</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

		<!-- favicon -->
		{% include "part/favicon.html" %}

		<!-- scripts -->
		<script src="../popper.js/umd/popper.min.js"></script>
		<script src="../jquery/jquery.min.js"></script>

		<!-- styles -->
		<link rel="stylesheet" href="../css/style.min.css?v={{ currentTime }}">
	</head>
	<body>

{% block content %}
{% endblock %}

		<script src="../js/scripts.min.js?v={{ currentTime }}"></script>
		
		<div class="d-none">
			{% include "svg/icons/svg-symbols.svg" %}
		</div>	
	</body>
</html>