.btn {
	white-space: normal;
}

.btn-info-light {
	color: $info;
}

.btn-calendar-today {

	@include media-breakpoint-down('md') {
		background: none;
		border: 0;
		padding: 0;
		color: $white !important;

		.icon-calendar {
			font-size: $h4-font-size !important;
		}
	}

}