.custom-checkbox-lg {

	padding-left: 2rem;
	min-height: 2rem;

	.custom-control-label {
		&::before,
		&::after {
			top: calc(50% - .75rem);
			left: -2rem;
			border-radius: 0;
			width: 1.5rem;
			height: 1.5rem;
			border: $border-width solid $gray-600;
			border-radius: 2px;
		}

		&::before {
			background: $white;
		}
	}

}
.custom-checkbox-lg .custom-control-input:checked~.custom-control-label::before {
	background: $white;
}

.custom-checkbox-lg .custom-control-input:checked~.custom-control-label::after {
	background-image: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1024'%3E%3Cpath fill='#{$blue}' d='M431.177 911.953c-13.36 0-33.401-6.68-40.081-13.36l-367.406-313.965c-26.72-26.72-33.401-66.801-6.68-93.522s66.801-33.401 93.522-6.68l313.965 267.204 480.968-614.57c20.040-26.72 66.801-33.401 93.522-13.36s33.401 66.801 13.36 93.522l-527.728 668.011c-13.36 13.36-33.401 20.040-53.441 26.72 0 0 0 0 0 0z'/%3E%3C/svg%3E"), "#", "%23");
}