.list-group-contacts {
	.custom-checkbox {
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: -1rem;
			bottom: 0;
			width: 2.5rem;
			background: $gray-200;
		}
	}
	.custom-checkbox-lg .custom-control-label,
	.custom-checkbox-lg .custom-control-label {
		&::after,
		&::before {
			left: -2.5rem;
		}
	}

	@include media-breakpoint-up('md') {
		flex-direction: row;
		flex-wrap: wrap;
		.list-group-item {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 50%;

			&:nth-child(1) {
				border-top-right-radius: 0;
			}

			&:nth-child(2) {
				border-top-left-radius: 0;
				border-top-right-radius: .25rem;
			}

			&:nth-child(even) {
				border-left: 0;
			}

			&:last-child {
				margin-bottom: -1px;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}
		}
	}
}