.navbar-brand {
	line-height: .5;
}

.navbar-nav .nav-link .badge {
	float: right;
	font-size: .6rem;
	height: .9rem;
	min-width: .9rem;
	padding-left: .2rem;
	padding-right: .2rem;
	line-height: 1;
	position: relative;
	margin-left: -.3em;
	top: -.4em;
	box-shadow: inset 0 -.25em .25em rgba($black,.125), .125em .125em 0 rgba($black,.25); 
}

.navbar-dark .navbar-nav .nav-link {

	@include media-breakpoint-down(md) {
		padding-left: $nav-link-padding-x;
		padding-right: $nav-link-padding-x;
	}

}
.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active {

	@include media-breakpoint-down(md) {
		background: rgba($white,.125);
	}

	@include media-breakpoint-up(lg) {
		position: relative;
		&::after {
			content: '';
			position: absolute;
			left: $navbar-toggler-padding-x * .75;
			right: $navbar-toggler-padding-x * .75;
			bottom: -($navbar-padding-y);
			height: $navbar-toggler-padding-y;
			background: $white;
			border-radius: $border-radius-sm $border-radius-sm 0 0;
		}
	}

}

.navbar-dark hr {
	border-color: rgba($white, .25);
}