{% extends 'layout/layout.html' %}

{% block content %}

{% include "part/header.html" %}

{% include "part/contact-header.html" %}

<div class="pt-2 pb-5">
	<div class="container">
		<div class="row">
			<div class="col-lg-9 order-lg-1">
				<div class="d-flex flex-wrap justify-content-between pt-3 mb-4">
					<div class="d-flex mr-3 mb-2">
						<div class="mr-2">
							<img class="img-fluid rounded-circle" src="../img/02.jpg" alt="">
						</div>
						<div>
							<h1 class="h3 m-0"><strong>Rybářová Jana</strong></h1>
							<div>Pokročilá</div>
						</div>
					</div>
					<div>
						<a class="btn btn-outline-dark px-4" href="#">Poslat zprávu</a>
					</div>
				</div>

				<ul class="nav nav-tabs mb-2" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" href="#home" id="home-tab" data-toggle="tab" role="tab" aria-controls="home" aria-selected="true">Obecné</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#courses" id="courses-tab" data-toggle="tab" role="tab" aria-controls="courses" aria-selected="false">Historie kurzů</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#payment" id="payment-tab" data-toggle="tab" role="tab" aria-controls="payment" aria-selected="false">Historie plateb</a>
					</li>
				</ul>

				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
						<div class="d-flex flex-wrap justify-content-between py-4">
							<div>
								<div class="custom-control custom-checkbox custom-checkbox-lg d-inline-block mr-4 pr-2">
									<input type="checkbox" class="custom-control-input" id="exampleCheck1">
									<label class="custom-control-label d-flex" for="exampleCheck1">Aktivní uživatel</label>
								</div>
								<div class="custom-control custom-checkbox custom-checkbox-lg d-inline-block mr-4 pr-2">
									<input type="checkbox" class="custom-control-input" id="exampleCheck2">
									<label class="custom-control-label d-flex" for="exampleCheck2">Admin</label>
								</div>
								<div class="custom-control custom-checkbox custom-checkbox-lg d-inline-block mr-4 pr-2">
									<input type="checkbox" class="custom-control-input" id="exampleCheck3">
									<label class="custom-control-label d-flex" for="exampleCheck3">Trenér</label>
								</div>
							</div>
							<div>
								<a class="btn btn-outline-dark px-4" href="#">Smazat uživatele</a>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6 mb-3">
								<h2 class="h6 border-bottom pb-1 mb-3"><strong>Osobní údaje</strong></h2>
								<div class="form-group mb-2">
									<label class="small mb-0" for="exampleForm0"><strong>Email</strong> (funguje jako uživatelské jméno)</label>
									<input type="email" class="form-control" id="exampleForm0">
								</div>
								<div class="form-group mb-2">
									<label class="small mb-0" for="exampleForm1"><strong>Příjmení a jméno</strong></label>
									<input type="text" class="form-control" id="exampleForm1">
								</div>
								<div class="form-group mb-2">
									<label class="small mb-0" for="exampleForm2"><strong>Ulice</strong></label>
									<input type="text" class="form-control" id="exampleForm2">
								</div>
								<div class="form-group mb-2">
									<label class="small mb-0" for="exampleForm3"><strong>Město</strong></label>
									<input type="text" class="form-control" id="exampleForm3">
								</div>
								<div class="form-group mb-2">
									<label class="small mb-0" for="exampleForm4"><strong>PSČ</strong></label>
									<input type="text" class="form-control" id="exampleForm4">
								</div>
								<div class="form-group mb-2">
									<label class="small mb-0" for="exampleForm5"><strong>Telefon</strong></label>
									<input type="text" class="form-control" id="exampleForm5">
								</div>
							</div>
							<div class="col-md-6 mb-3">
								<h2 class="h6 border-bottom pb-1 mb-3"><strong>Firemní údaje</strong></h2>
								<div class="form-group mb-2">
									<label class="small mb-0" for="exampleForm6"><strong>Název firmy</strong></label>
									<input type="text" class="form-control" id="exampleForm6">
								</div>
								<div class="form-group mb-2">
									<label class="small mb-0" for="exampleForm7"><strong>Fakturační adresu firmy</strong></label>
									<input type="text" class="form-control" id="exampleForm7">
								</div>
								<div class="form-group mb-2">
									<label class="small mb-0" for="exampleForm8"><strong>IČ</strong></label>
									<input type="text" class="form-control" id="exampleForm8">
								</div>
								<div class="form-group mb-2">
									<label class="small mb-0" for="exampleForm9"><strong>DIČ</strong></label>
									<input type="text" class="form-control" id="exampleForm9">
								</div>
							</div>
						</div>
						<h2 class="h6 mb-3"><strong>Preferovaný způsob komunikace s námi</strong></h2>
						<div class="mb-4">
							<div class="custom-control custom-checkbox custom-checkbox-lg mb-2">
								<input type="checkbox" class="custom-control-input" id="exampleCheck4">
								<label class="custom-control-label d-flex" for="exampleCheck4">Email</label>
							</div>
							<div class="custom-control custom-checkbox custom-checkbox-lg mb-2">
								<input type="checkbox" class="custom-control-input" id="exampleCheck5">
								<label class="custom-control-label d-flex" for="exampleCheck5">Telefon</label>
							</div>
						</div>
						<h2 class="h6 border-bottom pb-1 mb-4"><strong>Typy kurzů</strong></h2>
						<div class="mb-4">
							<div class="custom-control custom-checkbox custom-checkbox-lg mb-2">
								<input type="checkbox" class="custom-control-input" id="exampleCheck6">
								<label class="custom-control-label d-flex" for="exampleCheck6">Jezdecké kurzy pro dospělé</label>
							</div>
							<div class="custom-control custom-checkbox custom-checkbox-lg mb-2">
								<input type="checkbox" class="custom-control-input" id="exampleCheck7">
								<label class="custom-control-label d-flex" for="exampleCheck7">Pony školička pro děti</label>
							</div>
						</div>
						<div class="mt-5">
							<button class="btn btn-lg btn-info px-5" type="submit"><small class="px-3">Uložit</small></button>
						</div>
					</div>
					<div class="tab-pane fade" id="courses" role="tabpanel" aria-labelledby="courses-tab">
						<h2>Historie kurzů</h2>
					</div>
					<div class="tab-pane fade" id="payment" role="tabpanel" aria-labelledby="payment-tab">
						<h2>Historie plateb</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}