<div class="bg-dark py-2">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-sm-6">
				<div class="d-flex">
					<form class="my-2">
						<div class="d-flex">
							<input type="text" class="form-control" placeholder="Hledat" aria-label="Hledat">
							<button type="submit" class="btn btn-secondary d-flex align-items-center text-black ml-1" aria-label="Hledat">
								<svg role="img" class="icon-arrow-right">
									<use xlink:href="#icon-arrow-right"></use>
								</svg>
							</button>
						</div>
					</form>
					<div class="dropdown ml-auto ml-md-0 pl-2">
						<button type="button" class="btn btn-secondary btn-block text-black d-flex align-items-center my-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Filtr
							<svg role="img" class="icon-arrow-down ml-2">
								<use xlink:href="#icon-arrow-down"></use>
							</svg>
						</button>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="d-flex justify-content-between">
					<a class="btn btn-secondary text-black d-flex align-items-center my-2 ml-sm-auto" href="#">
						<svg role="img" class="icon-plus mr-2">
							<use xlink:href="#icon-plus"></use>
						</svg>
						Nová zpráva
					</a>
					<div class="dropdown ml-2">
						<button type="button" class="btn btn-secondary btn-block text-black d-flex align-items-center my-2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Akce
							<svg role="img" class="icon-arrow-down ml-2">
								<use xlink:href="#icon-arrow-down"></use>
							</svg>
						</button>
						<div class="dropdown-menu dropdown-menu-right">
							<a class="dropdown-item" href="#">Action</a>
							<a class="dropdown-item" href="#">Another action</a>
							<a class="dropdown-item" href="#">Something else here</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>